* {
  box-sizing: border-box;
}

html, body, #root {
  width: 1000px;
  height: 1000px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f1f4f8;
  position: fixed;
}