* {
  box-sizing: border-box;
  width: auto;
  height: auto;
}

html, body, #root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f1f4f8;
  position: fixed;
}